<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Food - Category</key>
	<string></string>
	<key>Banners</key>
	<array>
		<dict>
			<key>Image</key>
			<data></data>
			<key>id</key>
			<string>123456789</string>
			<key>rating</key>
			<integer>10</integer>
		</dict>
		<dict>
			<key>Image</key>
			<data></data>
			<key>id</key>
			<string>123456789</string>
			<key>rating</key>
			<integer>10</integer>
		</dict>
		<dict>
			<key>Image</key>
			<data></data>
			<key>id</key>
			<string>123456789</string>
			<key>rating</key>
			<integer>10</integer>
		</dict>
		<dict>
			<key>Image</key>
			<data></data>
			<key>id</key>
			<string>123456789</string>
			<key>rating</key>
			<integer>10</integer>
		</dict>
		<dict>
			<key>Image</key>
			<data></data>
			<key>id</key>
			<string>123456789</string>
			<key>rating</key>
			<integer>10</integer>
		</dict>
		<dict>
			<key>Image</key>
			<data></data>
			<key>id</key>
			<string>123456789</string>
			<key>rating</key>
			<integer>10</integer>
		</dict>
	</array>
	<key>Closest</key>
	<array>
		<dict>
			<key>IconImage</key>
			<string>ImageName.png</string>
			<key>id</key>
			<string>234567891</string>
			<key>rating</key>
			<string>9</string>
		</dict>
		<dict>
			<key>IconImage</key>
			<data></data>
			<key>id</key>
			<string>234567891</string>
			<key>rating</key>
			<string>9</string>
		</dict>
		<dict>
			<key>IconImage</key>
			<data></data>
			<key>id</key>
			<string>234567891</string>
			<key>rating</key>
			<string>9</string>
		</dict>
		<dict>
			<key>IconImage</key>
			<data></data>
			<key>id</key>
			<string>234567891</string>
			<key>rating</key>
			<string>9</string>
		</dict>
		<dict>
			<key>IconImage</key>
			<data></data>
			<key>id</key>
			<string>234567891</string>
			<key>rating</key>
			<string>9</string>
		</dict>
		<dict>
			<key>IconImage</key>
			<data></data>
			<key>id</key>
			<string>234567891</string>
			<key>rating</key>
			<string>9</string>
		</dict>
		<dict>
			<key>IconImage</key>
			<data></data>
			<key>id</key>
			<string>234567891</string>
			<key>rating</key>
			<string>9</string>
		</dict>
	</array>
	<key>Featured</key>
	<array>
		<dict>
			<key>IconImage</key>
			<data></data>
			<key>id</key>
			<string>234567891</string>
			<key>rating</key>
			<string>9</string>
		</dict>
		<dict>
			<key>IconImage</key>
			<data></data>
			<key>id</key>
			<string>234567891</string>
			<key>rating</key>
			<string>9</string>
		</dict>
		<dict>
			<key>IconImage</key>
			<data></data>
			<key>id</key>
			<string>234567891</string>
			<key>rating</key>
			<string>9</string>
		</dict>
		<dict>
			<key>IconImage</key>
			<data></data>
			<key>id</key>
			<string>234567891</string>
			<key>rating</key>
			<string>9</string>
		</dict>
		<dict>
			<key>IconImage</key>
			<data></data>
			<key>id</key>
			<string>234567891</string>
			<key>rating</key>
			<string>9</string>
		</dict>
		<dict>
			<key>IconImage</key>
			<data></data>
			<key>id</key>
			<string>234567891</string>
			<key>rating</key>
			<string>9</string>
		</dict>
		<dict>
			<key>IconImage</key>
			<data></data>
			<key>id</key>
			<string>234567891</string>
			<key>rating</key>
			<string>9</string>
		</dict>
	</array>
	<key>Recent</key>
	<array>
		<dict>
			<key>IconImage</key>
			<data></data>
			<key>id</key>
			<string>234567891</string>
			<key>rating</key>
			<string>9</string>
		</dict>
		<dict>
			<key>IconImage</key>
			<data></data>
			<key>id</key>
			<string>234567891</string>
			<key>rating</key>
			<string>9</string>
		</dict>
		<dict>
			<key>IconImage</key>
			<data></data>
			<key>id</key>
			<string>234567891</string>
			<key>rating</key>
			<string>9</string>
		</dict>
		<dict>
			<key>IconImage</key>
			<data></data>
			<key>id</key>
			<string>234567891</string>
			<key>rating</key>
			<string>9</string>
		</dict>
		<dict>
			<key>IconImage</key>
			<data></data>
			<key>id</key>
			<string>234567891</string>
			<key>rating</key>
			<string>9</string>
		</dict>
		<dict>
			<key>IconImage</key>
			<data></data>
			<key>id</key>
			<string>234567891</string>
			<key>rating</key>
			<string>9</string>
		</dict>
		<dict>
			<key>IconImage</key>
			<data></data>
			<key>id</key>
			<string>234567891</string>
			<key>rating</key>
			<string>9</string>
		</dict>
	</array>
</dict>
</plist>
